@model dynamic

@{
    ProductModel product = Model.Product as ProductModel;
}

<div class="card col-lg-12 row">
    <div class="card-header">
       <h2>Actualizar Producto</h2>
    </div>
    
    <div class="card-body">

        <form class="" asp-controller="Product" asp-action="Update" method="post">
            <div class="mb-2">
                <label class="form-label">Código</label>
                <input type="text" class="form-control" asp-for="@product.Sku" />
                <span class="text-danger" asp-validation-for="@product.Sku"></span>
            </div>
            <div class="mb-2">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" asp-for="@product.Name" />
                <span class="text-danger" asp-validation-for="@product.Name"></span>
            </div>
            <div class="mb-2">
                <label class="form-label">Descripción</label>
                <input type="text" class="form-control" asp-for="@product.Description" />
                <span class="text-danger" asp-validation-for="@product.Description"></span>
            </div>
            <div class="mb-2">
                <label class="form-label">Precio</label>
                <input type="text" class="form-control" asp-for="@product.BuyPrice" />
                <span class="text-danger" asp-validation-for="@product.BuyPrice"></span>
            </div>

            <div class="mb-2">
                <label class="form-label">Categoria</label>
                <br />
                <select class="form-select" asp-for="@product.CategoryId">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="@product.CategoryId"></span>
            </div>

            <div class="mb-2">
                <label class="form-label">Medida</label>
                <select class="form-select" asp-for="@product.MeasureId">
                    @foreach (var measure in Model.Measures)
                    {
                        <option value="@measure.Id">@measure.Name</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="@product.MeasureId"></span>
            </div>

            <div class="mb-2">
                <label class="form-label">Estado</label>
                <div>
                    <input type="radio" asp-for ="@product.StatusId"
                     value="1">
                    <label asp-for="@product.StatusId">Alta</label>

                    <input type="radio" asp-for = "@product.StatusId"
                     value="2">
                    <label asp-for="@product.StatusId">Baja</label>
                </div>
                <span class="text-danger" asp-validation-for="@product.StatusId"></span>
            </div>

            <div class="" style="float:right;">
                 <input type="submit" class="btn btn-primary mx-2" id="save" asp-route-id="@product.Id" value="Actualizar" />
                 <a class="btn btn-danger" asp-controller="Product" asp-action="Index">Cancelar</a>
            </div>
        </form>

    </div>
</div>